@import './reset';
// @import './flex_grid';


/* variables and mixins */
// https://coolors.co/app/2b2d42-8d99ae-edf2f4-ef233c-d90429
$color-navy: #2B2D42;
$color-medium-grey: #8D99AE;
$color-steel-grey: #EDF2F4;
$color-red: #EF233C; // #DA100B;
$color-dark-red: #D90429; //#D8340B;
$font-family-headings: "Josefin Sans", helvetica, roboto, arial, sans-serif;
$font-family-body: helvetica, roboto, arial, sans-serif;

$small-screen: 500px;
$medium-screen: 900px;

@mixin circle($diameter) {
  border-radius: 100000px; //gigantic, will always be round
  height: $diameter;
  width: $diameter;
}

@mixin center-child {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* layout */
html {
  background: $color-steel-grey;
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  color: white;
}

div, footer { //get the other symantic block elements
  box-sizing: border-box;
}

.content__container {
  height: 100%;
  padding: 130px 5% 0;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (max-width: $small-screen - 1px) {
    width: 80%;
  }
}

$headshot-size: 150px;
.headshot {
  @include circle($headshot-size);
}

$headshot-border-width: 5px;
$headshot-inner-border-width: 4px;
.headshot__wrapper {
  @include circle(auto);
  @include center-child;
  background-color: $color-steel-grey;
  border: $headshot-border-width solid $color-red;
  padding: $headshot-inner-border-width;
  margin-bottom: 50px;
}

/* typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color-navy;
  font-family: $font-family-headings;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 1.5em;
}

h1 {
  font-size: 42px;
}

h1.name {
  letter-spacing: 20px;
  margin-bottom: .6em;
}

h2 {
  font-size: 16px;
  letter-spacing: 2.5px;
}

section.body {
  text-align: center;
}

p, a {
  color: $color-navy;
  font-family: $font-family-body;
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 1em;
}

a {
  color: $color-dark-red;
}

a:hover {
  color: $color-red;
  text-decoration: underline;
}


