@import './reset';

/* variables and mixins */
$color-black: #260603;
$color-medium-grey: #edf2f4;
$color-red: #F03A24;
$font-family-headings: 'Reem Kufi', 'Helvetica', sans-serif;
$font-family-body: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;

$spacing-base: 8px;
$small-screen: 500px;
$medium-screen: 900px;

@mixin circle($diameter) {
  border-radius: 100000px; //gigantic, will always be round
  height: $diameter;
  width: $diameter;
}

@mixin center-child {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* layout */
html {
  background: $color-medium-grey;
  height: 100%;
  width: 100%;
}

body {
  align-items: center;
  color: white;
  display: flex;
  min-height: 100%;
  justify-content: center;
}

.content__container {
  padding: $spacing-base * 2;
  padding-bottom: $spacing-base * 15; // uncenter in the page
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 640px;
}

$headshot-size: 150px; // TODO: 160px;
.headshot {
  @include circle($headshot-size);
}

$headshot-border-width: 5px;
$headshot-inner-border-width: 4px;
.headshot__wrapper {
  @include circle(auto);
  @include center-child;
  background-color: $color-medium-grey;
  border: $headshot-border-width solid $color-red;
  padding: $headshot-inner-border-width;
  margin-bottom: $spacing-base * 4;
}

/* typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color-black;
  font-family: $font-family-headings;
  font-weight: 300;
}

h1 {
  font-size: 42px;
  letter-spacing: 0.25em;
  text-transform: uppercase;
}

h1.name {
  margin-bottom: $spacing-base * 4;
  text-align: center;
}

section.body {
  text-align: center;
}

p, a {
  color: $color-black;
  font-family: $font-family-body;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.3em;
}

a {
  color: darken($color-red, 0.10);
  text-decoration: none;

  &:hover {
    color: $color-red;
    text-decoration: underline;
  }
}

p.bio {
  margin-bottom: $spacing-base * 2;
}
